<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstondesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries> <package android:name="com.facebook.katana" /> </queries>

    <application
        android:allowBackup="true"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:label="자취왕"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:name=".network.login.kakao.KakaoSDKInit"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="m">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />


        <activity android:name=".ui.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FragmentMain" />
        <activity android:name=".ui.home.signup.SignUpActivity" />
        <activity android:name=".ui.home.signup.FastSignUpActivity" />
        <activity android:name=".ui.chatting.inchattingroom.InChattingRoom"/>
        <activity android:name=".ui.home.login.LoginAcitivity" />
        <activity android:name=".ui.board.AddBoard"/>
        <activity android:name=".ui.board.inboard.InBoard"/>
        <activity android:name=".ui.board.search.SearchBoard"/>
        <activity android:name=".ui.board.search.SearchBoardResult"/>
        <activity android:name=".controller.Notice"/>
        <activity android:name=".ui.groupbuying.AddGroupBuying"/>
        <activity android:name=".ui.profile.inprofile.InProfileActivity"/>
        <activity android:name=".ui.profile.inwatchlist.mywatchlist.WatchlistActivity"/>
        <activity android:name=".ui.groupbuying.ingroupbuying.InGroupBuying"/>
        <activity android:name=".ui.profile.setting.SettingActivity"/>
        <activity android:name=".ui.profile.setting.changepassword.InChangePasswordActivity"/>
        <activity android:name=".ui.profile.notice.NoticeActivity"/>
        <activity android:name=".ui.profile.notice.innotice.NoticeInside"/>
        <activity android:name=".ui.profile.setting.withdraw.InWithdrawActivity"/>
        <activity android:name=".ui.profile.inwatchlist.mywatchlist.InMyWatchlist"/>
        <activity android:name=".ui.groupbuying.search.SearchGroupBuying"/>
        <activity android:name=".ui.groupbuying.search.SearchGroupbuyingResult"/>
        <activity android:name=".ui.profile.myactivity.MyActivity"/>
        <activity android:name=".ui.profile.myactivity.mygroupbuying.MyGroupBuyingActivity"/>
        <activity android:name=".ui.profile.myactivity.myboard.MyBoardActivity"/>

    </application>

</manifest>